.page-head {
  padding: 10px;
  background-color: #eeeeee;
}

.assortment-table {
  border-collapse: collapse;
  padding: 10px;

}

.assortment-table th,
.assortment-table td {
   padding: 10px;
   border-bottom: 2px solid lightgray;
   /* padding: 10px; */
   /* text-align: center; */
}

.assortment-table td {
  text-align: center;
}

.assortment-table .assortment-name {
  text-align: left;
  font-weight: bold;
  padding-right: 30px;
}

.assortment-table th  {
  font-weight: normal;
  vertical-align: top;
  text-align: center;
}

.assortment-table .assortment-price {
  text-align: left;
  padding-right: 20px;
}

/*
.assortment-price th,
.assortment-price td {
  text-align: right;
}
*/
