.page-head {
  padding: 10px;
  background-color: #eeeeee;
}

.assortment-table {
  border-collapse: collapse;
  /* border-bottom: 2px solid lightgray; */
}
.assortment-table th,
.assortment-table td {
   border-bottom: 2px solid lightgray;
}
